* {
  box-sizing: border-box;
}
body {
  background-image: url('images/1640968.jpg');
  background-size: cover;
}
.url-container {
  padding: 130px;
  top: 40%;
  left: 10%;
  margin: -130px auto auto;
  position: absolute;
  text-align: center;
  width: 80% !important;
}
.url-form {
  width: 100%;
  padding: 15px;
}
.url-form input {
  width: 80% !important;
  display: inline-block;
  font-size: 20px;
  height: 43px;
}
.url-form .btn {
  position: relative;
  right: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.img-container {
  margin: auto;
  width: 90% !important;
  text-align: center;
}
.img-container .img-border {
  background-color: #ffffff;
  border-radius: 10px;
  border: 10px solid #ffffff;
  max-width: 100%;
  width: 994px;
  margin: auto;
}
.img-container img {
  margin-top: 5px;
  max-width: 100%;
}
.img-container .fa-spinner {
  color: #cccccc;
  font-size: 150px;
  clear: both;
  display: block;
}
.img-container a {
  float: left;
}
